
.appear{
    animation: appear 1s ease-in-out forwards;
    opacity: 0;
}

.appearHeader{
    animation: appear 1s ease-in-out forwards;
    opacity: 0;
}

.slidedown{
    animation: slidedown 300ms ease-in-out forwards;
    opacity: 0;
}

@keyframes appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes slidedown{
    0%{
        transform: translateY(-10px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}